@charset "UTF-8";

*{margin: 0; padding: 0;}

.부모{
    position: relative;
    left: 200px;
    top: 200px;
    margin-top: 100px;
    margin-left: 100px;
    background-color: #6E85B7;
width: 1000px;
background-image: url(https://manual.notch.one/0.9.23/en/docs/nodes/generators/grid/img/node-generators-grid-img.jpg);
background-size: cover;
margin-bottom: 3000px;
}
.부모 .자식{height: 200px; width: 200px;}
.부모 .첫째{background-color: #7A4069;
left: 400px; position: relative;
}

/* left는 나의 왼쪽에 공간을 두겠다는 뜻
position: relative는 원래 자기자리 기억함, 주위에 아무런 영향을 안줌 */

.부모 .둘째{background-color: #CA4E79;
position: absolute; left: 50px; top: 0;
}

.부모 .셋째{background-color: #FFC18E;
position: static; /* 기본값 */
}
.부모 .넷째{background-color: #3A5BA0;
position: fixed; right: 0; top: 200px;
}
/* position: fixed;는 화면에 붙는다 */